body{
    display: flex;
    justify-content: center;
    align-items:center;
    transform: translateY(200px);
    background-image: url(image/h3.jpg);
    
}
/* form{
    transform: translateX(50px);
   
    justify-content: center;
    align-items:center;
    margin-bottom: 95px;

} */

/* sign up page */
.SignUp{          
    width: 500px;
    height: 400px;
    /* margin-bottom: 100px; */
    background-color: rgba(214, 213, 212, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 250px;
    margin-bottom: -30px;
   
}
#Username,#PhoneNo,#Email,#Password{
    width:300px;
    height:20px;
    border-radius: 10px;
    padding: 6px;
}
h1{
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    color: rgb(3, 61, 63);
    transform: translateY(); 
}

#sign{
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    color: rgb(3, 61, 63);
    transform: translateY(150px);
    row-gap: 50px;
}
#sign0{
    width:100px;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(98, 127, 128);;
    font-weight: bold;
    font-size: 15px;
}
#sign1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(98, 127, 128);;
    font-weight: bold;
    font-size: 15px;
}
#sign2{
    display: flex;
    justify-content:center;
    
    width:100px;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(98, 127, 128);;
    font-weight: bold;
    font-size: 15px;
}
.submit{
    display: flex;
    transform: translateX(-350px);
}
.submit1{
    display: flex;
    transform: translateX(-200px);
}
/* Login Page */
.Login{
    width: 500px;
    height: 400px;
    /* margin-bottom: 100px; */
    background-color: rgba(214, 213, 212, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 150px;
    margin-bottom: -30px;
   
}